player-connection-mode=Listen
player-connection-guid=3669571273
player-connection-debug=1
player-connection-project-name=My project
player-connection-ip=192.168.0.107
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7b60a857760c427a9dab3fa7ef0255e2
